/src/TestResults
/src/.vs
/src/Trazable.Bed/bin
/src/Trazable.Bed/obj
/src/Trazable.Engine/bin
/src/Trazable.Engine/obj
/src/Trazable.Engine/.vs
/src/Trazable.Engine.Tests/bin
/src/Trazable.Engine.Tests/obj
/src/packages
/src/SetupTrazable/Debug
/src/SetupTrazable/Release
/src/Trazable.App/bin
/src/Trazable.App/obj
/src/Trazable.Service/bin
/src/Trazable.Service/obj
